<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>User Management with SpringBoot</title>
</head>
<body>
    <div class="container col-6">
        <h2>User Management</h2>
        <form th:object="${search}" th:action="@{/search}" method="post" class="btn btn-primary">
            <input type="text" name="name" id="name" th:value="${search}">
            <input type="submit" value="search" class="btn btn-danger">
            <div th:if="${not#lists.isEmpty(search)}">
                <h2>Students List</h2>
                <table class="table table-striped">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>phone</th>
                        <th>email</th>
                    </tr>
                    <tr th:each="search:${search}">
                        <td th:text="${search.id}">id</td>
                        <td th:text="${search.name}">name</td>
                        <td th:text="${search.phone}">phone</td>
                        <td th:text="${search.email}">email</td>
                    </tr>
                </table>
            </div>
        </form>
        <table class="table table-active">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CRUD</th>
            </tr>
            <tr th:each="user:${users}">
                <td th:text="${user.name}"></td><br/>
                <td th:text="${user.email}"></td><br/>
                <td th:text="${user.phone}"></td><br/>
                <td>
                    <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-secondary">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Create New User</a>
    </div>
</body>
</html>